body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0b0c10, #1f2833);
    color: #c5c6c7;
    margin: 0;
    padding: 0;
    transition: background 0.5s ease-in-out;
}

header {
    background: linear-gradient(135deg, #1f2833, #0b0c10);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(31, 40, 51, 0.9);
    color: #c5c6c7;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.profile {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #66fcf1;
    box-shadow: 0 0 15px rgba(102, 252, 241, 0.5);
    animation: bounce 2s infinite;
}

.name {
    font-size: 2.5em;
    margin: 10px 0;
    color: #66fcf1;
}

.title {
    font-size: 1.5em;
    color: #c5c6c7;
    margin-bottom: 20px;
}

.social-links a {
    color: #ffffff;
    margin: 0 15px;
    font-size: 1.8em;
    transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
    color: #66fcf1;
    transform: scale(1.2);
}

main {
    background-color: rgba(31, 40, 51, 0.9);
    padding: 20px 0;
    transition: background-color 0.3s ease;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: 2px solid #66fcf1;
    display: inline-block;
}

.skills-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.skills-container {
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.skill {
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 20px;
}

.circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.circle circle {
    fill: none;
    stroke-width: 8;
    stroke: #66fcf1;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray 1s;
}

.circle .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #66fcf1;
}

.scroll-button {
    background-color: #1f2833;
    color: #66fcf1;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.project-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    animation: fadeInUp 1s ease-in-out;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(102, 252, 241, 0.5);
}

.project h3 {
    margin: 0;
    font-size: 1.5em;
}

.project .description {
    margin: 0;
    font-size: 1em;
}

.certificates {
    text-align: center;
}

.certificate-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
}

.certificate {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(31, 40, 51, 0.9);
    color: #66fcf1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease;
}

.certificate:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(102, 252, 241, 0.5);
}

footer {
    background-color: rgba(31, 40, 51, 0.9);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: background-color 0.3s ease;
}

.modal-content {
    background: rgba(31, 40, 51, 0.9);
    color: #c5c6c7;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    background: url('imagenes/programming-background.png') no-repeat center center;
    background-size: cover;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .skills-grid, .project-container, .certificate-container {
        flex-direction: column;
        align-items: center;
    }

    .project, .certificate {
        width: 90%; /* Increased width for larger containers */
        margin-bottom: 20px;
    }

    .profile-img {
        width: 100px;
        height: 100px;
    }

    .name {
        font-size: 1.5em;
    }

    .title {
        font-size: 1em;
    }

    .social-links a {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .circle {
        width: 60px;
        height: 60px;
    }

    .circle .icon {
        font-size: 1.2em;
    }
}